.header {
  display: flex;
  flex-direction: column;
  margin: 0 4em;
}

.restart {
  background-color: #78FFD6;
  border: 1px #1a1111 solid;
  border-radius: 1em;
  color: #1a1111;
  font-weight: 700;
  padding: 0.6em;
  width: 8em;
}

.title {
  color: #1a1111;
  font-weight: 300;
}

.game-options {
  display: flex;
  color: #1a1111;
  margin-bottom: 2em;
}

.timer, .moves {
  margin: 0.25em 0 0 2em;
}

.game-container {
  box-sizing: border-box;
  margin-left: 4em;
}

.game-cubes {
  background-color: #1a1111;
  border: 10px black solid;
  display: table-cell;
  height: 8em;
  width: 8em;
}

.active {
  background-color: #78FFD6;
}
