.header {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

button {
  background-color: #247BA0;
  border: none;
  border-radius: 1em;
  color: white;
  font-weight: 700;
  padding: 0.5em;
  width: 5em;
}

#title {
  color: #247BA0;
}

.sub-header {
  display: flex;
}

#timer {
  margin: 0.25em 0 0 2em;
}

.game-container {
  border: 1px #247BA0 solid;
  display: flex;
  flex-direction: column;
  margin: 2em;
}

table {
  border-spacing: 0;
}

.game-cubes {
  border: 1px #247BA0 solid;
  height: 3em;
}

.active {
  background-color: #247BA0;
}